# Local
.DS_Store
*.local
*.log*
.eslintcache

pnpm-lock.yaml

# Dist
node_modules
dist/
.vinxi
.output
.vercel
.netlify
.wrangler
app/components/ui
app/hooks/use-toast.ts

# IDE
.vscode/*
!.vscode/extensions.json
.idea
